
{% extends 'food/base.html' %}

{% block body %}
  
{% for item in item_list %}

<div class="row">
    <div class="col-md-3 offset-md-2">
        <img class="card mb-3" height="150px" width="175px" src="{{ item.item_image }}" alt="">
    </div>
    <div class="col-md-4 my-3">
        <h2>{{ item.item_name }}</h2>
        <h4>{{ item.item_desc }}</h4>
        <h6>Price: ${{ item.item_price }}</h6>

    </div>
    <div class="col-md-2">
        <a href="{% url 'food:detail' item.id %}" class="btn btn-secondary my-5">Details</a>
    </div>

</div>

{% endfor %}

{% endblock %}
</body>
</html>